h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.chart {
  margin-top: 20px;
}

.apexcharts-tooltip {
  text-align: center;
}

.apexcharts-tooltip-series {
  display: none;
}

/* .apexcharts-tooltip-series-group {
  margin-top: 8px;
}

.apexcharts-tooltip-series {
  margin-bottom: 4px;
}

.apexcharts-xaxistooltip {
  font-weight: bold;
} */